 <!-- ===== ABOUT ===== -->
  <section id="about" class="block">
    <div class="container">
        <p class="eyebrow">About</p>
        <h2 class="h2">What is JunctionX Lisbon?</h2>
        <div class="prose">
        <p>An international 36-hour hackathon where teams of 1 to 5 people will work on technology projects with
            real-world impact. Participants will choose from challenges set by partner companies and institutions,
            focusing on areas such as:
        </p>
        <ul class="desc-list">
            <li>Artificial Intelligence and Machine Learning</li>
            <li>Technology Serving Society</li>
        </ul>
        </div>
    </div>
  </section>