<!-- ===== PRIZES ===== -->
  <section id="prizes" class="container--prizes">
    <div class="container--prizes">
        <h2 class="h2">Prizes</h2>
        <div class="prose">
        <p>Total prize 1000€</p>
        <p>The winner has free trip to Finland to represent Portugal at Junction2026</p>
        </div>
    </div>
  </section>