<!-- ===== SPONSORS ===== -->
  <section id="sponsors">
    <div class="container block">
      <h2 class="h2 h2--light-purple">Sponsors</h2>

      <!-- 2–3 main sponsors -->
      <div class="sponsors-challenges">
        <article class="partner-card">
          <div class="logo-box">
            <img src="../../public/assets/sponsors/nos.png" alt="Partner name">
          </div>
          <h3>NOS Portugal</h3>
          <p>A leading tech consultancy driving
            digital transformation in healthcare,
            financial services, and public sectors
            across Europe and beyond.</p>
        </article>
        <article class="partner-card">
          <div class="logo-box">
            <img src="./assets/albatroz.png" alt="Partner name">
          </div>
          <h3>Albatroz Engenharia SA</h3>
          <p>A Portuguese innovator in AI-
            powered inspection systems and
            UAV technologies for the electric
            power industry.</p>
        </article>
        <article class="partner-card">
          <div class="logo-box">
            <img src="./assets/gimm.png" alt="Partner name">
          </div>
          <h3>Gulbenkian Institute for Molecular Medicine</h3>
          <p>GIMM is dedicated to fostering a dynamic, collaborative,
            and sustainable research environment that spans disciplines
            from basic to clinical research
          </p>
        </article>
      </div>

      <!-- 2-4 small sponsors -->
      <p class="eyebrow small">Community sponsors</p>
      <div class="sponsors-media">
        <div class="partner-chip" aria-label="Comudel">
          <span class="chip-logo"><img src="./assets/comudel.png" alt="Comudel"></span>
          <span class="chip-name">Comudel</span>
        </div>
      
        <div class="partner-chip" aria-label="Jane Street">
          <span class="chip-logo">
            <img class="logo--dark" src="./assets/jane-street.png" alt="Jane Street">
          </span>
          <span class="chip-name">Jane Street</span>
        </div>

        <div class="partner-chip" aria-label="Pointer5">
          <span class="chip-logo"><img src="./assets/pointer5.png" alt="Pointer5"></span>
          <span class="chip-name">Pointer5</span>
        </div>

        <div class="partner-chip" aria-label="Comudel">
          <span class="chip-logo"><img src="./assets/dominos.png" alt="Domino's Pizza"></span>
          <span class="chip-name">Domino's Pizza</span>
        </div>
      </div>
    </div>
  </section>