---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
---
<html lang="pt">
  <head>
    <BaseHead title="JunctionX" description="The largest AI hackaton in Lisbon" />
  </head>
  <body>
    <Header />
    <h1>Hello world, chicos!</h1>
    <p>O site está a funcionar!</p>
  </body>
</html>