---
import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
import Layout from '../layouts/Layout.astro';
import About from "../components/sections/About.astro";
import Prizes from "../components/sections/Prizes.astro";
import Sponsors from "../components/sections/Sponsors.astro";
import Video from "../components/sections/Video.astro";
import FAQs from "../components/sections/FAQs.astro";
---

<Layout>
  <main id="top" class="main">
    <div class="main__bg" aria-hidden="true"></div>
    <section id="about" class="container">
      <div class="grid">
        <div>
          <img src="/assets/junctionx-banner.png" alt="JunctionX" class="logo-banner">
          <h1 class="h1">LISBON</h1>
          <p class="lead">
            Portuguese largest student hackathon.<br>
            October 21-22 in Lisbon
          </p>
          <div class="actions">
            <a class="btn btn--apply" href="https://form.typeform.com/to/WWtZ6KRT" target="_blank" rel="noopener">
              APPLY <span class="btn btn--apply-arrow"> > </span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <About />
  <Prizes />
  <Sponsors />
  <Video />
  <FAQs />
</Layout>