---
---
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>Faithful Field</title>
  </head>
  <body>
    <h1>Olá, mundo!</h1>
    <p>O site está a funcionar!</p>
  </body>
</html>

<!-- ===== TEAM ===== -->

<!-- ===== TO DO===== -->

 <section id="team" class="block">
    <div class="container">
        <p class="eyebrow">Meet Us</p>
        <h2 class="h2">Our Team</h2>
        <div class="prose">
        <p> Clara, Constança, Daniel, Duarte, Matilde, Salvador, Vasco & Vicente
        </p>
        </div>
    </div>
  </section>