---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title = "JunctionX", description = "The largest AI hackaton in Lisbon" } = Astro.props;
---

<html lang="pt">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <div class="zoom-wrapper">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    overflow-x: hidden;
  }
  .zoom-wrapper {
    transform: scale(1.2);
    transform-origin: top left;
    width: calc(100% / 1.2);
    min-height: calc(100% / 1.2);
  }
</style>